# Prerequisites
*.d

# Object files
*.o
*.obj
*.elf
a.out

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Program executables
cfr_read
cfr_write
cfr_to_html

# Raw CFR data in binary format
*.cfr

# CFR to HTML output
*.html

# vscode stuffs
*.swp
.vscode/
